@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #FEFCFF; */
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  background-color: green;
  border: none; 
  border-radius: 5px; 
  padding: 10px 20px; 
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8; 
}
